# Worksheet 02

Name:  
UID: 

### Topics

- Effective Programming

### Effective Programming

a) What is a drawback of the top down approach?

b) What is a drawback of the bottom up approach?

c) What are 3 things you can do to have a better debugging experience?

d) (Optional) Follow along with the live coding. You can write your code here:

## Exercise

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

The goal of this exercise is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops
3. code spans multiple lines

look through the pandas documentation for alternatives. This [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) may come in handy.

a) Complete the code below to read in a filepath to the `train.csv` and returns the DataFrame.

In [ ]:
import pandas as pd

df = # your code here
df.describe()

b) Complete the code so it returns the number of rows that have at least one empty column value

In [ ]:
print("there are " +  str(...) + " rows with at least one empty value")

c) Complete the code below to remove all columns with more than 200 NaN values

In [ ]:
df = ...
df.columns

d) Complete the code below to replaces `male` with 0 and `female` with 1

In [ ]:
df['Sex'] = ...
df.head()

e) Complete the code below to add four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column.

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

Anything not clearly one of the above 4 categories can be ignored.

In [ ]:
df[['First Name', 'Middle Name', 'Last Name', 'Title']] = ...
df.head()

f) Complete the code below to replace all missing ages with the average age

In [ ]:
df['Age'] = ...
df.head()

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe.