# Worksheet 00

Name:  Stone Harris
UID:   U41533031

### Topics

- course overview
- python review

### Course Overview

a) Why are you taking this course?

I am taking this course because I am a computer science major that is interested in data science and would like to take a crack at it.

b) What are your academic and professional goals for this semester?

I would like to do well in all of my classes so that I can graduate this May and get a job.

c) Do you have previous Data Science experience? If so, please expand.

I do not have any significant data science experience.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

I definitely struggle most with linear algebra the most out of those three.

### Python review

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [ ]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [ ]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [ ]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [ ]:
(lambda x : x(3))(lambda y: 2 + y)

5

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [ ]:
check = (lambda x, y, z: x < y < z)
check(1, 2, 3)

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`. For example, if we called this function `g`, then `g(n)(2) = 2n`

In [ ]:
g = (lambda n: (lambda x: x * n))
n = g(2)
result = n(2)
print(result)

4

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list).

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [ ]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [ ]:
c = [-2, -1, 0, 1, 2]
gt_zero = map(lambda x: x > 0, c)
list(gt_zero)

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [3]:
d = [1, 3, 6, 11, 2]
mul_of3 = map(lambda x: x % 3 == 0, d)
list(mul_of3)

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [6]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda x: x % 2 == 0, e)
list(evens)

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequentially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0)
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)
2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1
3) `acc` = `acc` + 2 = 3
4) `acc` = `acc` + 3 = 6
5) `acc` = `acc` + 4 = 10
6) `acc` = `acc` + 5 = 15
7) return `acc`

`acc` is short for `accumulator`.

f) `*challenging` Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [12]:
from functools import reduce
factorial = lambda acc : reduce(lambda acc, y: acc * y, range(1, acc+1))
factorial(10)

3628800

g) `*challenging` Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [20]:
from functools import reduce

def sieve(n):
    def filter_primes(primes, next_num):
        # filter to get rid of the non prime nums
        non_divisors = list(filter(lambda prime: next_num % prime != 0, primes))
        # no divisors found -> its prime
        if len(non_divisors) == len(primes):
            primes.append(next_num)
        return primes

    # reduce applies filter_primes and then acc the prime nums
    # have to not use 1 for the range
    return reduce(filter_primes, range(2, n), [])

print(sieve(12))

[2, 3, 5, 7, 11]

### What is going on?

For each of the following code snippets, explain why the result may be unexpected and why the output is what it is:

In [ ]:
class Bank:
  def __init__(self, balance):
    self.balance = balance

  def is_overdrawn(self):
    return self.balance < 0

myBank = Bank(100)
if myBank.is_overdrawn :
  print("OVERDRAWN")
else:
  print("ALL GOOD")

OVERDRAWN

"OVERDRAWN" is being printed because there is a lack of parentheses in the line: "if myBank.is_overdrawn :". It should be: "if myBank.is_overdrawn():" instead. As it is right now, the if statement is just checking if the method itself is true (I think) and that's why you get the "OVERDRAWN"

In [ ]:
for i in range(4):
    print(i)
    i = 10

0
1
2
3

This one is more simple. The value of i is reset at the beginning of each iteration so setting it to 10 after the print statement has no effect. Right after being set to 10, the loop enters its next iteration and prints that value of i rather than 10.

In [ ]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

So the issue here is that the board[0][0] = "X" line changes the first element in row to X. However the 2D array, board, references the row variable three times to make up the complete board. So when you change one value in row, that change will appear three times in each row of the board.

In [ ]:
funcs = []
results = []
for x in range(3):
    def some_func():
        return x
    funcs.append(some_func)
    results.append(some_func())  # note the function call here

funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2]
[2, 2, 2]

So the issue is that results and funcs_results don't match even though they use the same simple func, 'some_func' that just returns x. This is because in funcs_results, the value of x at the time is not being used, only the final value of 2 is being used. Thus funcs_results just contains [2, 2, 2] rather than the contents of results: [0, 1, 2]. The difference comes from that append() where results receives some_func() as opposed to just some_func. I hope this explanation makes sense.

In [ ]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

Okay this one was very tricky, but the issue stems from the mode in which the data.txt file is reopened. It is reopened in the same mode, w+, when it should be opened in r mode for read only. According to geeks for geeks, opening a file in w+ clears the content of the file. So that is why no integers are found in the file and thus the printed sum is 0.